.page__video {
  padding-top: calc(102/1280*100%);
  margin: 0 auto;
  width: calc(1184/1280*100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .page__video {
    padding-top: calc(64/320*100%);
    width: calc(288/320*100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page__video {
    padding-top: calc(95/768*100%);
    width: calc(720/768*100%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .page__video {
    padding-top: calc(102/1024*100%);
    width: calc(928/1024*100%);
  }
}
