.intro__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: flex-start;
  max-width: calc(690/984*100%);
}

@media screen and (max-width: 767px) {
  .intro__list {
    margin-left: calc(16/320*100%);
    max-width: calc(288/320*100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__list {
    margin-left: calc(24/768*100%);
    max-width: calc(720/768*100%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__list {
    max-width: calc(690/928*100%);
  }
}
