.lead__title {
  margin: 0 0 calc(32/984*100%) 0;
  max-width: calc(720/984*100%);
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-bottom: calc(16/320*100%);
    max-width: calc(288/320*100%);
    font-size: calc(40/320*100vw);
    line-height: calc(44/320*100vw);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    margin-bottom: calc(32/768*100%);
    max-width: calc(720/768*100%);
    font-size: calc(96/768*100vw);
    line-height: calc(100/768*100vw);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__title {
    margin-bottom: calc(32/928*100%);
    max-width: calc(720/928*100%);
    font-size: calc(96/1024*100vw);
    line-height: calc(100/1024*100vw);
  }
}
