.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    padding-top: 48px;
    font-size: calc(14/320*100vw);
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__copyright {
    font-size: calc(14/768*100vw);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__copyright {
    font-size: calc(14/1024*100vw);
  }
}
