.intro__list-item {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__list-item {
    font-size: calc(12/320*100vw);
    line-height: calc(18/320*100vw);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__list-item {
    font-size: calc(12/768*100vw);
    line-height: calc(18/768*100vw);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__list-item {
    font-size: calc(12/1024*100vw);
    line-height: calc(18/1024*100vw);
  }
}
