.comments__subtitle {
  margin: 0 0 calc(48/1184*100%) 0;
  width: calc(640/1184*100%);
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 34.85px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .comments__subtitle {
    margin-bottom: calc(40/288*100%);
    width: 100%;
    font-size: calc(16/320*100vw);
    line-height: calc(23.24/320*100vw);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__subtitle {
    margin-bottom: calc(72/660*100%);
    width: 100%;
    font-size: calc(24/768*100vw);
    line-height: calc(34.85/768*100vw);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .comments__subtitle {
    margin-bottom: calc(72/928*100%);
    width: calc(640/928*100%);
    font-size: calc(24/1024*100vw);
    line-height: calc(34.85/1024*100vw);
  }
}
