.comments__quote {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.72px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .comments__quote {
    font-size: calc(16/320*100vw);
    line-height: calc(23.24/320*100vw);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__quote {
    font-size: calc(16/768*100vw);
    line-height: calc(23.24/768*100vw);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .comments__quote {
    font-size: calc(14/1024*100vw);
    line-height: calc(23.72/1024*100vw);
  }
}
