.cover__background {
  position: relative;
  display: block;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  width: 100%;
  padding-bottom: calc(740/1184*100%);
}

@media screen and (max-width: 767px) {
  .cover__background {
    padding-bottom: calc(200/320*100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__background {
    padding-bottom: calc(480/768*100%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__background {
    padding-bottom: calc(640/1024*100%);
  }
}
