.lead__caption {
  margin: 0;
  padding-top: calc(8/984*100%);
  max-width: calc(158/984*100%);
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: calc(16/320*100%);
    padding-top: calc(8/320*100%);
    max-width: calc(158/320*100%);
    font-size: calc(10/320*100vw);
    line-height: calc(14/320*100vw);
    letter-spacing: calc(1.5/320*100vw);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    margin-left: calc(24/768*100%);
    padding-top: calc(8/768*100%);
    max-width: calc(158/768*100%);
    font-size: calc(10/768*100vw);
    line-height: calc(14/768*100vw);
    letter-spacing: calc(1.5/768*100vw);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__caption {
    padding-top: calc(8/928*100%);
    max-width: calc(158/928*100%);
    font-size: calc(10/1024*100vw);
    line-height: calc(14/1024*100vw);
    letter-spacing: calc(1.5/1024*100vw);
  }
}
